    *{
        padding: 0;
        margin: 0;
        list-style: none;
        text-decoration: none;
        font-family: "Î¢ÈíÑÅºÚ";
    }
    .box1{
        width: 100%;
        height: 59px;
        background-color: #222222;
        position: relative;
    }
    .box1 a:hover{
        color: #5BA703;
    }
    .box1 #yi img{
        padding-top: 5px;
        margin-left: 85px;
        height: 50px;
    }
    .box1 #zhao{
        position: absolute;
        top: 10px;
        right: 195px;
    }
    .box1 a p{
        font-size:10px;
        color: #4B4B4B;
        margin-left: 85px;
    }
    .box1 .txt{
        width: 361px;
        height: 30px;
        border: 3px solid #fff;
        font-size: 14px;
        color: #666666;
        position: absolute;
        left: 354px;
        top: 12px;
    }
    .box1 .but{
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        position: absolute;
        left: 704px;
        top: 11px;
    }
    .box1 ul{
        position: absolute;
        right: 91px;
        top: 24px;
    }
    .box1 ul li{
        font-size: 14px;
        display: inline-block;
        float: left;
        margin-left: 20px;
        position: relative;
    }
    .box1 ul li a{
        color:#CCCCCC;
    }
    .box1 ul li img{
        height: 18px;
        position: absolute;
        top: 1px;
        left: -15px;
    }
    .box1 ul li span {
        width: 0px;
        height: 0px;
        display: inline-block;
        position: absolute;
        top: 5px;
        border-left: solid 5px transparent;
        border-bottom: solid 5px transparent;
        border-right: solid 5px transparent;
        border-top: solid 5px;
    }
    .box3{
        width: 350px;
        height: 332px;
        z-index: 333;
        display: inline-block;
        background-color: #F2F2F2;
        position: absolute;
        top: 48px;
        left: 354px;
        display: none;
    }
    .box3 ul li{
        font-size: 13px;
        padding-left: 5px;
        height: 30px;
        color: #B9B9B9;
        line-height: 30px;
    }
    .box3 ul li:hover{
        background-color: #fff;
    }
    .box3 ul span{
        font-size: 13px;
        margin-top: 15px;
        margin-left: 5px;
        color: #B9B9B9;
        display: inline-block;
    }
    .box3 ul li s{
        display: inline-block;
        width: 18px;
        height: 20px;
        color: #fff;
        line-height: 18px;
        text-align: center;
        background-color: #CBCBCB;
    }
    .box3 ul li a{
        color: #000000;
        display: inline-block;
        width: 310px;
        margin-left: 10px;
    }
    .box2{
        width: 100%;
        height: 411px;
        position: relative;
        overflow: hidden;
    }
    .box2 ul{
        width: 210px;
        height: 348px;
        border-radius: 5px 5px 5px  5px;
        background-color: #000000;
        opacity: 0.8;
        position: absolute;
        right: 80px;
        top: 32px;
    }
    .box2 ul li{
        margin-left: 3px;
        padding-top: 5px;
    }
    .box2 ul li a {
        line-height: 32px;
        font-size: 14px;
        color:#CCCCCC;
        display: inline-block;
        width: 202px;
        height: 28px;
        border-bottom:solid 1px #434243;
    }
    .box2 ul li a:hover{
        color: #ffffff;
        background-color: #81B408;
        opacity: 0.99;
    }
    .box4{
        width: 1180px;
        height: 92px;
        border: 1px solid #63B504;
        border-radius: 2%;
        margin: 10px auto;
    }
    .box4 .ul-x{
        border-left: 1px solid #63B504;
    }
    .box4 ul{
        height: 66px;
        margin-top: 14px;
        margin-left: 24px;
        float: left;
    }
    .box4 ul li{
        font-size: 14px;
        height: 25px;
    }
    .box4 ul li a{
        color: #999;
    }
    .box4 ul li a:hover{
        color: #63B504;
    }
    .box5{
        width: 100%;
        height: 110px;
        margin-top: -1px;
        background-color: #000;
        border: 1px solid #000;
    }
    #box6{
        width: 150px;
        height: 45px;
        font-size: 13px;
        fond-color: #666;
        background-color: #fff;
        position: absolute;
        right: 120px;
        top: 45px;
        border: 1px solid lightpink;
        z-index: 9999;
        text-align: center;
        display: none;
    }
    #box6 s{
        width: 0;
        height: 0;
        border-left: solid 5px transparent;
        border-bottom: solid 5px #fff;
        border-right: solid 5px transparent;
        border-top: solid 5px transparent;
        position: absolute;
        top: -10px;
        left: 20px;
    }
